<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.nomedoapp.empresa"
        versionCode = "10"
        version   = "1.0.0">

    <name>Primeiro APPp</name>

    <description>
       Descrição do Aplicativo
    </description>

    <author href="http://www.seusite.com">
        Nome Autor
    </author>
    <platform name="android" />
   
    <preference name="permissions" value="none" />
   

    

    

   

</widget>